<div>
<div class="topcoat-navigation-bar header_padding">
    <div class="topcoat-navigation-bar__item" id="btnBackBox">
        <button class="topcoat-icon-button--quiet header_button_left" id="btnBack">
            <span class="topcoat-icon icomatic">back</span>
        </button>
    </div>
    <div class="topcoat-navigation-bar__item">
        <h1 class="topcoat-navigation-bar__title" id="title">Title</h1>
    </div>
    <div class="topcoat-navigation-bar__item" id="btnSettingsBox">
    <button class="topcoat-icon-button--quiet  header_button_right" id="btnSettings">
            <span class="topcoat-icon icomatic">settings</span>
        </button>
    </div>
</div>
</div>