<div>
    
    <div class="full_width_padding all_margin">
          <button class="topcoat-button--cta" id="btnIdentify">QR Játékos azonosítása</button>
          <br/>
    </div>

    <div class="topcoat-list">
      <h3 class="topcoat-list__header">Azonosított játékosok</h3>
      <ul class="topcoat-list__container">
          
      </ul>
   </div>
    
    <div class="full_width_padding all_margin">
          <button class="topcoat-button--cta" id="btnNext">Tovább</button>
          <br/>
    </div>

</div>  

