<div>

    <div class="topcoat-list">
        <h3 class="topcoat-list__header">Tömeges regisztrálás:</h3>
        <ul class="topcoat-list__container">
            <li class="topcoat-list__item team">
                Kék csapat
            </li>
            <li class="topcoat-list__item team">
                Piros csapat
            </li>
            <li class="topcoat-list__item team">
                Sárga csapat
            </li>
            <li class="topcoat-list__item team">
                Zöld csapat
            </li>
        </ul>
    </div>
    <br/>

    <div class="full_width_padding all_margin">
        <button class="topcoat-button--cta" id="btnRegOne">Regisztrálás egyenként</button>
    </div>
        
</div>