<div>

    <br/>
      <div class="full_width_padding all_margin">
        <input type="text" class="topcoat-text-input" id="txtName1" placeholder="Name1" value="" disabled>
        <input type="text" class="topcoat-text-input" id="txtName2" placeholder="Name2" value="" disabled>
      </div>
          
    <br/>
    <div class="full_width_padding all_margin">
    <div style="text-align:center">Arany</div> <br/>
    <span id="stone1" >30</span> <span id="stone2" >30</span> <br/>
    <input type="range" class="topcoat-range">
    <br/>
    <br/>
    <div style="text-align:center">KŐ</div> <br/>
    <span id="stone1" >30</span> <span id="stone2" >30</span> <br/>
    <input type="range" class="topcoat-range">
    <br/>
    <br/>
    <div style="text-align:center">FA</div> <br/>
    <span id="stone1" >30</span> <span id="stone2" >30</span> <br/>
    <input type="range" class="topcoat-range">
    <br/>
    <br/>
    <div style="text-align:center">VAS</div> <br/>
    <span id="stone1" >30</span> <span id="stone2" >30</span> <br/>
    <input type="range" class="topcoat-range">
    <br/>
    <br/>
    <button class="topcoat-button" id="btnCancel" >Mégse</button>
    <button class="topcoat-button--cta" id="btnOK" >Ok</button>
    </div>
</div>